<app-admin-nav></app-admin-nav>
<div class="im">
  <div class="row">
    <div class="col-sm-3">
      <div class="card" routerLink="/admin/products" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Products</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ totalRows }}</h6>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="card" routerLink="/admin/category" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Category</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ totalRows1 }}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" routerLink="/admin/users" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Users</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ totalRows2 }}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" routerLink="/admin/orders" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Orders</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ totalRows3 }}</h6>
        </div>
      </div>
    </div>
  </div>
  
</div>


  

  

 


